nav {
  background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,4,96,1) 35%, rgba(0,212,255,1) 100%);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,4,96,1) 35%, rgba(0,212,255,1) 100%);
  
  img {
    width: 35px;
  }
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}